.index {
  width: 100%;
  background: no-repeat center top;
  background-size: auto 1080px;
  background-image: linear-gradient(to top, #17192B 0%, #17192B 10%, transparent 100%), url('../../assets/image/banner-887x486px.png');
  background-color: #17192B;
}
.index > div {
  max-width: 1200px;
  margin: 0 auto;
}
.index > div > div:nth-child(1) {
  padding-top: 470px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.index > div > div:nth-child(1) > div:nth-child(1) {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.index > div > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
  font-family: "阿里包巴惠普体THIN";
  font-size: 28px;
  color: #5b1fe5;
  line-height: 28px;
}
.index > div > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
  font-family: "阿里包巴惠普体MEDIUM";
  font-size: 100px;
  line-height: 100px;
  color: #fff;
}
.index > div > div:nth-child(1) > div:nth-child(1) > div:nth-child(3) {
  font-family: "valky-light";
  font-size: 100px;
  line-height: 100px;
  color: #fff;
}
.index > div > div:nth-child(1) > div:nth-child(1) > div:nth-child(4) {
  font-family: "阿里包巴惠普体MEDIUM";
  font-size: 32px;
  line-height: 32px;
  color: #fff;
}
.index > div > div:nth-child(1) > div:nth-child(2) {
  position: relative;
}
.index > div > div:nth-child(1) > div:nth-child(2) img {
  width: 330px;
  height: 400px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}
.index > div > div:nth-child(1) > div:nth-child(2) > div {
  font-size: 14px;
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  color: #fff;
  margin-left: 14px;
  max-width: 80%;
  word-break: break-all;
  font-family: '阿里包巴惠普体LIGHT';
}
.index > div .fall {
  color: #fff;
}
.index > div .fall > div:nth-child(1) {
  margin-top: 170px;
  font-size: 36px;
  margin-bottom: 26px;
  font-family: "阿里包巴惠普体MEDIUM";
}
.index > div .fall > div:nth-child(2) {
  width: 100%;
  height: 380px;
  background: url(../../assets/image/card-1-1200x380px.png);
  display: flex;
  justify-content: end;
}
.index > div .fall > div:nth-child(2) > div {
  width: 580px;
  text-align: center;
  position: relative;
}
.index > div .fall > div:nth-child(2) > div h2 {
  margin-top: 40px;
  margin-bottom: 48px;
  font-size: 36px;
  font-family: "阿里包巴惠普体BOLD";
}
.index > div .fall > div:nth-child(2) > div p {
  padding: 0 22px;
  font-size: 20px;
  font-family: "阿里包巴惠普体LIGHT";
}
.index > div .fall > div:nth-child(2) > div img {
  position: absolute;
  bottom: 48px;
  left: 50%;
  transform: translateX(-50%);
}
.index > div .digtal {
  color: #fff;
}
.index > div .digtal h2 {
  font-family: "阿里包巴惠普体MEDIUM";
  font-size: 36px;
  margin-top: 90px;
  margin-bottom: 26px;
}
.index > div .digtal > div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.index > div .digtal > div .item {
  border-radius: 20px;
  background-color: #212338;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 20px;
  flex-direction: column;
  text-align: center;
}
.index > div .digtal > div .item img {
  padding: 28px 0 10px 0;
  width: 250px;
  height: 326px;
}
.index > div .digtal > div .item > div {
  margin: 0 16px;
  font-size: 18px;
  font-family: "阿里包巴惠普体BOLD";
}
.index > div .seeallthe {
  display: block;
  margin: 0 auto;
  width: 840px;
  height: 50px;
  margin-top: 32px;
  margin-bottom: 120px;
}
.index > div .guangdong {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}
.index > div .guangdong img {
  width: 22px;
  height: 80px;
  margin-right: 20px;
}
.index > div .guangdong .text {
  color: #fff;
  font-size: 25px;
  line-height: 30px;
  height: 80px;
  font-family: "阿里包巴惠普体MEDIUM";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.index > div .moment {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.index > div .moment .item {
  width: 380px;
  height: 580px;
  color: #fff;
  text-align: center;
  background-color: #212338;
  border-radius: 20px;
}
.index > div .moment .item > div:nth-child(1) {
  font-size: 26px;
  font-family: "阿里包巴惠普体BOLD";
  line-height: 58px;
}
.index > div .moment .item img {
  width: 350px;
  height: 450px;
}
.index > div .moment .item > div:nth-child(3),
.index > div .moment .item > div:nth-child(4) {
  margin-top: 5px;
  font-size: 12px;
  font-family: "阿里包巴惠普体LIGHT";
}
.index > div .coself {
  margin-top: 200px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  background: url('../../assets/image/banner-887x486px.png') no-repeat right;
}
.index > div .coself > div:nth-child(1) {
  padding-top: 10px;
  padding-bottom: 84px;
  margin-bottom: 200px;
}
.index > div .coself > div:nth-child(1) h1 {
  font-size: 110px;
  font-family: 'valky-light';
}
.index > div .coself > div:nth-child(1) > div:nth-child(2) p {
  font-family: '阿里包巴惠普体Regular';
  font-size: 50px;
}
.index > div .coself > div:nth-child(1) img {
  margin-top: 60px;
}
