.header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    .logo {
        width: 220px;
        height: 60px;
        margin-left: 50px;

        @media (max-width: 768px) {
            width: 100px;
            height: auto;
        }
    }

    >div {
        @media (max-width: 768px) {
            display: flex;
            justify-content: space-around;
        }

        .sing {
            width: 220px;
            height: 44px;

            @media (max-width: 768px) {
                width: 100px;
                height: auto;
            }
        }

        .menu {
            width: 60px;
            height: 46px;
            margin: 0 50px;

            @media (max-width: 768px) {
                width: 30px;
                height: auto;
                margin: 0 20px;
            }
        }
    }
}